@import "Mixin.scss";

.page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .content {
    .about {
      background-color: #ececec;
      padding: 50px 0;
      @include max-screen(570px){
        padding: 100px 0 50px;
      }

      h1 {
        color: $bg-blue;
        text-align: center;
        font-size: 65px;
      }

      p {
        color: $bg-blue;
        max-width: 800px;
        margin: auto;
        text-align: center;
        @include max-screen(570px){
          padding: 0 5px;
        }
      }
    }

    .fact {
      background-color: $bg-blue;
      padding: 50px 0;


      h3 {
        color: #ececec;
        font-size: 40px;
        margin-bottom: 50px;
        @include max-screen(570px){
          text-align: center;
        }
      }

      .score {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        margin-bottom: 0;
        @include max-screen(570px) {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        li {
          .qua {
            color: rgba(236, 236, 236, 0.49);
            font-size: 45px;
            text-align: center;
          }

          .title {
            color: #ececec;
            font-family: 'Ubuntu', sans-serif;
            font-size: 20px;
            @include max-screen(570px) {
              text-align: center;
            }
          }

        }
      }
    }

    .staff {
      background-color: #ececec;
      padding-top: 50px;

      .title {
        color: $bg-blue;
        font-size: 40px;
        margin-bottom: 50px;
        @include max-screen(570px){
          text-align: center;
        }

      }

      .people {
        .list-people {
          list-style-type: none;
          display: flex;
          justify-content: space-around;
          margin-bottom: 0;
          @include max-screen(820px){

            img{
              width: 95%;
            }
          }
          @include max-screen(570px){
            display: flex;
            flex-direction: column;
            img{
              width: 100%;
            }
          }

          .name {
            color: $bg-blue;
            font-size: 30px;
            text-align: center;
          }

          .profession {
            color: $bg-blue;
            font-size: 25px;
            text-align: center;
            margin-bottom: 50px;
          }
        }
      }
    }
    .why-us{
      background-color: $bg-blue;
      padding: 50px 0;
      h2{
        font-size: 40px;
        color: #ececec;
        margin-bottom: 50px;
        @include max-screen(570px){
         text-align: center;
        }
      }
      .argument-list{
        .list{
          list-style-type: none;
          display: flex;
          justify-content: space-around;
          text-align: center;
          @include max-screen(570px){
            flex-direction: column;
          }
          li{
            margin-left: 10px;
            .title{
              font-size: 25px;
              color: #ececec;
              font-weight: 600;
              margin-bottom: 10px;
            }
            .description{
              color: #ececec;
            }

          }
          li:nth-child(1){
            margin-left: 0;
          }
        }
      }
    }
  }
}
